<html>
    <head>
    	<link rel="stylesheet" href="/css/application.css"/>
    	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

	</head>

	<body class="background">
		<header class="navbar navbar-inverse navbar-fixed-top">
	        <div class="container">
	       	  <!-- THE LEFT SIDE MENU -->
	          <ul class="nav navbar-nav left-nav">					
				<li>
					<a href="https://s3.us-east-2.amazonaws.com/karenericwedding/video/MV1.mp4" class="btn btn-info btn-sm">
		          		<span class="glyphicon glyphicon-play"></span> MV1 
		        	</a>
		        </li>
		        
				<li>
					<a href="https://s3.us-east-2.amazonaws.com/karenericwedding/video/MV2.mp4" class="btn btn-info btn-sm">
			          <span class="glyphicon glyphicon-play"></span> MV2 
			        </a>
				</li>
				
				<li>
					<a href="#" class="btn btn-info btn-sm">
			          <span class="glyphicon glyphicon-picture"></span> Gallery
			        </a>
				</li>
				
	          </ul>
	          
	          <div class="kareneric">
	        	<div class="container">
	        	Eric <span><i>&#38;</i></span> Karen
	        	</div>
	        </div>
	        </div>
	        
	        
        </header>
	
	</body>
</html>


